:root{
  --primary: #d61c4e;
  --dark: #030106;
  --light: rgb(255, 255, 255);

  --pointer: url("./images/cursor.svg"), auto;
  --pointer-OL: url("./images/external-pointer.svg"), auto;
}

::-moz-selection {
  color: var(--dark);
  background-color: var(--primary);
}

::selection {
  color: var(--dark);
  background-color: var(--primary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("./images/pointer.svg"), auto;

  background-color: var(--dark);
  color: var(--light);
}

a, Link {
  cursor: var(--pointer);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
